/*Author: iMahesh
Date: 08-01-2017
 */
* {box-sizing: border-box;}
html{
  font-family: 'open sans',san-serif;
  color: black;
  background: whitesmoke;
  margin: 0;
  padding:0;
}
.wrapper {
  max-width: 940px;
  margin: 0 auto;
  word-wrap: break-word;
}
div.tile{
  float: left;
  width: 23%;
  min-height: 180px;
  text-align: center;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 2px;
  padding: 10px;
}
i.fa{
  font-size: 4em;
}
button{
  background: none;
  margin: 0;
  padding: 0;
  border: none;
  border: 1px solid grey;
  padding: 4px;
  margin-top: 10px;
  border-radius: 5px;
  color: grey;
}
button:hover{
  background: white;
}
footer{
  float: right;
  display: inline-table;
  word-wrap: break-word;
}


@media (min-width:320px)  {
 /* smartphones, iPhone, portrait 480x320 phones */
 .wrapper{
  width:100%;
  }
div.tile{
  width:45%;
}
h3{
  font-size: 0.7em;
}
}
@media (min-width:481px)  {
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
.wrapper{
  width:100%;
  }
div.tile{
  width:45%;
}
 }
@media (min-width:641px)  {
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
.wrapper{
  width:100%;
  }
div.tile{
  width:31%;
}
h3{
  font-size: 1em;
}
 }
@media (min-width:961px)  {
/* tablet, landscape iPad, lo-res laptops ands desktops */
.wrapper{
  width:100%;
  }
div.tile{
  width:24%;
}
 }
@media (min-width:1025px) {
/* big landscape tablets, laptops, and desktops */
.wrapper{
  width:80%;
  }
div.tile{
  width:24%;
}
}
@media (min-width:1281px) {
/* hi-res laptops and desktops */

}
@media (min-width:1441px) {
/* hi-res laptops and desktops */
.wrapper{
  width:80%;
  }
div.tile{
  width:17%;
}
}
@media (min-width:2561px) {
/* hi-res laptops and desktops */

}
